@import "tailwindcss";
@custom-variant hover (&:hover);

body {
  @apply bg-white;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000000 !important;
}

.masonry-grid {
  display: flex;
  margin-left: -1rem; /* gutter size offset */
  width: auto;
}
.masonry-column {
  padding-left: 1rem; /* gutter size */
  background-clip: padding-box;
}
.masonry-column > * {
  margin-bottom: 1rem;
}
