@import "tailwindcss";
@custom-variant hover (&:hover);

body {
  @apply bg-white;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000000 !important;
}

.masonry-grid {
  display: flex;
  margin-left: -8px; /* gutter size offset */
  width: 100%;
}
.masonry-column {
  padding-left: 8px; /* gutter size */
  background-clip: padding-box;
}
.masonry-column > * {
  margin-bottom: 8px;
}
